@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
}

.dark {
  --background: #170d44;
  --foreground: #fafafa;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-white text-gray-900;
  }
}